<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @add_date_to_event.date %>
</p>


<%= link_to 'Edit', edit_add_date_to_event_path(@add_date_to_event) %> |
<%= link_to 'Back', add_date_to_events_path %>
